@import "./../../../app/assets/styles/components/variable";
.box{
    max-width: 50rem;
    width: 100%;
    @media (max-width:480.98px) {
        max-width: 100%;
    }
}
.title{
    font-size: $texth4;
    margin-bottom: 4rem;
    @media (max-width:768.98px) {
        font-size: 3.4rem;
    }
}
.content{
    border: .2rem solid #0fe;
    border-radius: .6rem;
    padding: .5rem 1.5rem;
}
