@media (max-width: 500em) {
    html {
        font-size: 44px;
    }
}
@media (max-width: 400em) {
    html {
        font-size: 33px;
    }
}
@media (max-width: 300em) {
    html {
        font-size: 22px;
    }
}
@media (max-width: 200em) {
    html {
        font-size: 16.5px;
    }
}
@media (max-width: 170em) {
    html {
        font-size: 14.67px;
    }
}
@media (max-width: 158em) {
    html {
        font-size: 13.75px;
    }
}
@media (max-width: 148em) {
    html {
        font-size: 12.2px;
    }
}
@media (max-width: 138em) {
    html {
        font-size: 12.2px;
    }
}
@media (max-width: 128em) {
    html {
        font-size: 11px;
    }
}
@media (max-width: 118em) {
    html {
        font-size: 10px;
    }
}
@media (max-width: 108em) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 105em) {
    html {
        font-size: 8.75px;
    }
}

@media (max-width: 91.5em) {
    html {
        font-size: 7.9px;
    }
}

@media (max-width: 91em) {
    html {
        font-size: 8.4px;
    }
}

@media (max-width: 90em) {
    html {
        font-size: 7.9px;
    }
}

@media (max-width: 80em) {
    html {
        font-size: 7.2px;
    }
}

@media (max-width: 72em) {
    html {
        font-size: 6.5px;
    }
}

@media (max-width: 64em) {
    html {
        font-size: 5.5px;
    }
}

@media (max-width: 48em) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 44em) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 38em) {
    html {
        font-size: 8px;
    }
}

@media (max-width: 34em) {
    html {
        font-size: 7px;
    }
}

@media (max-width: 30em) {
    html {
        font-size: 6px;
    }
}

@media (max-width: 26em) {
    html {
        font-size: 4.5px;
    }
}

@media (max-width: 21em) {
    html {
        font-size: 4.4px;
    }
}
