$texth1:6rem;
$texth3:5rem;
$texth4:2.3rem;
$textP:1.8rem;
$textTitle:3.4rem;
// =============mobile===============
$textmobh1:2.7rem;
$textmobh3:3rem;
$textmobh4:2.3rem;
$textmobP:2.8rem;
$textmobTitle:5.6rem;
